p {color :IndianRed;font-size:24px;font-family:Impact;  }
li{color :IndianRed;font-size:24px;font-family:Impact;}
div{color :IndianRed;font-size:24px;font-family:Impact;}
h1{color :IndianRed;font-size:24px;font-family:Impact;}