.a{
	width: 15000px;height: 1000px;background-color:pink;
	background-image: url("TeP0QFU4ZLkdX.jpg");
	background-repeat:repeat-y;
	background-position: right center;
}



flex-start
flex-end
center
space-between
space-around